.decorations {
    position: absolute;
    inset: 0;
    z-index: 2;
    pointer-events: none;
}

/* ------------------------------ */
/* TODAS AS IMAGENS */
/* ------------------------------ */

.decorations img {

    display: block;

    filter:
        drop-shadow(0 0 3px rgba(255, 255, 255, .85)) drop-shadow(0 0 6px rgba(255, 255, 255, .45)) drop-shadow(8px 10px 14px rgba(0, 0, 0, .28));

    transition: .35s ease;

}

.decorations img:hover {

    transform: scale(1.04);

}

/* ------------------------------ */
/* GLOBO */
/* ------------------------------ */

.disco {

    position: absolute;

    top: -2%;

    right: 8%;

    animation: discoFlip 3s infinite steps(1);

}

/* ------------------------------ */
/* ALTO-FALANTE */
/* ------------------------------ */

.speaker {

    position: absolute;

    bottom: -5%;

    left: -4%;

    animation: speakerBounce 2.2s infinite steps(1);

}

/* ------------------------------ */
/* MICROFONE */
/* ------------------------------ */

.microphone {

    position: absolute;

    bottom: 5%;

    right: -9%;

    transform: rotate(16deg);

}

/* ------------------------------ */
/* BOCA */
/* ------------------------------ */

.mouth {

    position: absolute;

    top: 15%;

    left: 3%;

    transform: rotate(-10deg);

}

/* ------------------------------ */
/* DEDO */
/* ------------------------------ */

.finger {

    position: absolute;

    top: 27%;

    right: 3%;

    transform: rotate(4deg);

}

/* ------------------------------ */
/* MULHER */
/* ------------------------------ */

.woman {

    position: absolute;

    bottom: -2%;

    left: 50%;

    transform: translateX(-50%) rotate(-3deg);

    opacity: .95;

}

@keyframes discoSpin {

    /* posição A */

    0%,
    42% {

        transform:
            rotate(10deg) scaleX(1);

    }

    /* passando "de lado" */

    48% {

        transform:
            rotate(0deg) scaleX(.08);

    }

    /* posição B */

    54%,
    92% {

        transform:
            rotate(-10deg) scaleX(1);

    }

    /* volta "de lado" */

    98% {

        transform:
            rotate(0deg) scaleX(.08);

    }

    100% {

        transform:
            rotate(10deg) scaleX(1);

    }

}

@keyframes discoFlip {

    0%,
    49% {

        transform: rotate(10deg);

    }

    50%,
    100% {

        transform: rotate(-10deg);

    }

}

.speaker {

    position: absolute;

    bottom: 3%;

    left: -15%;

    animation: speakerFlip 2.8s infinite steps(1);

}

@keyframes speakerFlip {

    0%,
    49% {

        transform: rotate(-10deg);

    }

    50%,
    100% {

        transform: rotate(6deg);

    }

}